body {
    background-color: #fff;
    font-family: 'Segoe UI', sans-serif;
}
.top-bar {
    background-color: black;
    padding: 10px 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auth-card {
    background-color: #1c1c1c;
    color: white;
    max-width: 500px;
    margin: 60px auto;
    padding: 40px;
    text-align: center;
}
.auth-card input.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    color: #fff;
}
.auth-card input.form-control::placeholder {
    color: #bbb;
    opacity: 1;
}
.btn-gradient {
    background: linear-gradient(to right, red, #a71c40);
    color: white;
    border: none;
    padding: 15px 10px;
    font-weight: bold;
    width: 100%;
    border-radius: 0px;
}
.btn-outline-white {
    border: 1px solid white;
    color: white;
    background: none;
}